<div class="footer">
    <div class="copyright">
        <p>Alonso Domínguez López, Todos los derechos reservados © Designed &amp; Developed by <a href="https:// DexignZone.com/" target="_blank"> DexignZone</a> 2022</p>
    </div>
</div>